<div *ngIf="posts$ | async as posts" class="news-feed-wrapper">
  <div infiniteScroll [scrollWindow]="true" [infiniteScrollDistance]="1" [infiniteScrollThrottle]="500"
    (scrolled)="onPageChange()" class="news-feed-list">
    <div class="news-feed-item" *ngFor="let post of posts; trackBy: trackPostBy">
      <ng-container [ngSwitch]="post.type">
        <app-text-post [post]="post" *ngSwitchCase="0"></app-text-post>

        <app-image-post [post]="post" *ngSwitchCase="1"></app-image-post>

        <app-video-post [post]="post" *ngSwitchCase="2"></app-video-post>
        
      </ng-container>
    </div>
  </div>
</div>